.container1{
    min-height: 100%;
    min-width:100%;
    display: flex;
    flex-direction: column;

    .logout-class{
        position: fixed;
        right: 0;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .active{
        background-color: aquamarine;
    }
    .hidden{
        display: none;
    }
    .main-content{
        margin-top: 16px;
        display: flex;
        min-width: 100%;
        min-height:90%;
        

        .room-sector{
            min-width: 50%;
            min-height: 100%;
            overflow-y: auto;
        
        }
        .calender-sector{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            .slots{
                display: flex;
                flex-wrap: wrap;
                gap: 6px;
            }
            .calender-container{
                display: flex;
                justify-content: space-between;
                width: 100%;
            .calender-header{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            .book-sector{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        }
    }
}